h1{
    color:rebeccapurple;
    text-align:center;
    text-transform: capitalize;
}
h3{
    color:purple;
    text-align:left;
}
button{
    color:rebeccapurple;
    background-color:wheat;
}
#myname{
color:black;
}
#ho{
    color:cadetblue;
}
.myclass{
    color:brown;
}
body{
    font-family:'Times New Roman';
}
#myy{
    font-size:25px;
}